@charset "ISO-8859-1";


/*********************************
Footer 
*********************************/

.social-media-icon{
    color: #000000;
}


.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.center {
  display: block;
  margin-left: 150px;
  margin-right: 150px;
  width: 90%;
}