<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
<title>Website Grupo 07</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css'
	rel='stylesheet'>
	 
<link rel="stylesheet" type="text/css" th:src="@{'/css/formularios.css}">
<style>
.fakeimg {
	height: 200px;
	background: grey;
}
</style>
</head>


<body>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<h1>Website Grupo 07-OO2-2021</h1>
	</div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{'/index'}">Inicio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<main role="main" class="container">		
	
        	
		<div class="alert alert-success" role="alert" th:if="${mensaje}" th:unless="${error}" th:text="${mensaje}"></div>
		<div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
        <div th:object=${user}></div>
		<div class="row mb-3 w3-example">
			<div class="col-4" th:if="${user.hasRole('ROL_ADMIN')}">
				<h3>Datos del Usuario</h3>
				<div class="form-group">

					<form th:action="@{/admin/usuario/altaUsuario}" th:if="${usuarioModel}" th:unless="${usuarioModelUpdate}" th:object="${usuarioModel}"
						method="post">
						<div class="form-group">
							<label>Usuario </label> <input type="text"
								class="form-control form-control-sm" th:field="*{usuario}" required>
						</div>

						<div class="form-group">
							<label>Clave</label> <input type="text"
								class="form-control form-control-sm" th:field="*{clave}"required>
						</div>


						<div class="form-group">
							<label>Nombre</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.nombre}"required>
						</div>

						<div class="form-group">
							<label>Apellido</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.apellido}"required>
						</div>

                      <div class="form-group">
                      <label>Tipo de Documento</label>	
							<select name="tipoDocumento" class="form-control form-control-sm" th:field="*{persona.tipoDocumento}">
    						<option th:each="tipoDocumento : ${T(com.webservice.app.entities.TipoDocumento).values()}" 
        					th:value="${tipoDocumento}" th:text="${tipoDocumento}"></option>
							</select>
						</div>

						<div class="form-group">
							<label>Numero de Documento</label> <input type="text"
								class="form-control form-control-sm" th:field="*{persona.dni}"required>	
								<div class="alert alert-danger" th:if="${errorDNI}" th:text="${errorDNI}"></div>					
                          </div>

						<div class="form-group">
							<label>Email</label> <input type="email"
								class="form-control form-control-sm" th:field="*{persona.email}"required>
						</div>

						<div class="form-group">
						<label>Rol</label>	
							<select class="form-control form-control-sm" th:field="*{rol.id}">
							 <option th:each="i : ${lstRoles}" th:value="${i.id}" th:text="${i.rol}">
                              </option>
							</select>
						</div>

						<div class="form-group">
							<input type="hidden"
								class="form-control form-control-sm" th:field="*{enabled}">
						</div>

						<div class="form-group">
							<input type="submit" class="btn-success form-control form-control-sm"/>
						</div>
						

					</form>
					
					
					
					<form th:action="@{/admin/usuario/modificacionUsuario}"  th:if="${usuarioModelUpdate}" th:object="${usuarioModelUpdate}"
						method="post">
						<div class="form-group">
							 <input type="hidden"
								class="form-control form-control-sm" th:field="*{id}">
						</div>
						<div class="form-group">
							<label>Usuario </label> <input type="text"
								class="form-control form-control-sm" th:field="*{usuario}">
						</div>

						<div class="form-group">
							<label>Clave</label> <input type="text"
								class="form-control form-control-sm" th:field="*{clave}">
						</div>

                       <div class="form-group">
							 <input type="hidden"
								class="form-control form-control-sm" th:field="*{persona.id}">
						</div>
						<div class="form-group">
							<label>Nombre</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.nombre}">
						</div>

						<div class="form-group">
							<label>Apellido</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.apellido}">
						</div>
						
						  <div class="form-group">
							<select  class="form-control form-control-sm" name="tipoDocumento" th:field="*{persona.tipoDocumento}">
    						<option th:each="tipoDocumento : ${T(com.webservice.app.entities.TipoDocumento).values()}" 
        					th:value="${tipoDocumento}" th:text="${tipoDocumento}"></option>
							</select>
						</div>

						<div class="form-group">
							<label>Numero de Documento</label> <input type="text"
								class="form-control form-control-sm" th:field="*{persona.dni}">
								<div class="alert alert-danger" th:if="${errorDNI}" th:text="${errorDNI}"></div>					
						</div>

						<div class="form-group">
							<label>Email</label> <input type="email"
								class="form-control form-control-sm" th:field="*{persona.email}">
						</div>

						<div class="form-group">
							<select class="form-control form-control-sm" th:field="*{rol.id}">
							 <option th:each="i : ${lstRoles}" th:value="${i.id}" th:text="${i.rol}">
                              </option>
							</select>
							<input type="hidden"
								class="form-control form-control-sm" th:field="*{rol.rol}">
						</div>

						<div class="form-group">
							<input type="hidden"
								class="form-control form-control-sm" th:field="*{enabled}">
						</div>

						<div class="form-group">
							<input type="submit" class="btn-success form-control form-control-sm"/>
						</div>

					</form>
			
		</div>
		</div>
		
		<div class="col-8">
			<h3>Usuarios</h3>
			<!--tabla-->
			<div style="overflow-x: auto;">
				<table class="table table-striped" >
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">Tipo Documento</th>
							<th scope="col">Num Documento</th>
							<th scope="col">Email</th>
							<th scope="col">Rol</th>
							<th scope="col">Activo</th>
							<th scope="col"></th>
							<th scope="col"></th>
							
						</tr>
					</thead>
					<tbody >
						<tr th:if="${lstUsuarios.empty}">
							<td colspan="2">Sin usuarios en el sistema</td>
						</tr>
						<tr th:each="usuario: ${lstUsuarios}">
							<td><span th:text="${usuario.persona.nombre}"></td>
							<td><span th:text="${usuario.persona.apellido}"></td>
							<td><span th:text="${usuario.persona.tipoDocumento}"></td>
							<td><span th:text="${usuario.persona.dni}"></td>
							<td><span th:text="${usuario.persona.email}"></td>
							<td><span th:text="${usuario.rol.rol}"></td>
							<td><span th:text="${usuario.enabled}"></td>							
							<td>
							<a th:if="${user.hasRole('ROL_ADMIN')}" th:href="@{'/admin/usuario/bajaUsuario?id=' + ${usuario.id}}" class="btn-danger btn-sm">
							<img th:src="@{'/images/trash.svg'}" th:text="Eliminar"/></td>
							<td>
							<a th:if="${user.hasRole('ROL_ADMIN')}" th:href="@{'/admin/usuario/traerUsuario?id=' + ${usuario.id}}" class="btn-warning btn-sm">
							<img th:src="@{'/images/pencil-square.svg'}" th:text="Editar"/></td>
						    <td><input type="hidden" th:value="${usuario.id}"/></td>
						    <td><input type="hidden" th:value="${usuario.rol.id}"/></td>
						</tr>
					</tbody>
				</table>
		 	   <div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-end">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{|/admin/usuario/abm-usuario?page=${pageNumber}|}" th:text=${pageNumber}>1</a>
                  
                    </li>
                  
                </ul>
            
            </nav>
            
        </div> 
              
		</div>
	</div>	
	<div class="form-group">
                    
			<a th:if="${user.hasRole('ROL_AUDITOR')}" th:href="@{usuario/export/pdf}"><img th:src="@{'/images/icons8-pdf-30.png'}" th:text="GenerarPDF"/></td></a>
		</div>
	</div>
	</div>
	</main>
	
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<footer id="footer">
			<div class="contenedor footer-content">
				<div class="contact-us">
					<h2 class="brand">Grupo 07-OO2-2021</h2>
					<p>Sofia Sánchez Antelo </p>
				</div>
				<div class="social-media">
					<a href="https://github.com/sanchezantelo/Grupo-7-OO2-2021"
						class="social-media-icon" target="_blank"> <i
						class='bx bxl-github'></i>
					</a>
				</div>
			</div>
		</footer>
	</div>
	
</body> 

</html>  

