<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Website Grupo 07</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="/css/index_styles.css">
<style>
.fakeimg {
	height: 200px;
	background: grey;
}
</style>
</head>


<body>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<h1>Website Grupo 07-OO2-2021</h1>
	</div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{'/index'}">Inicio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<div class="container">		
	
		<div class="alert alert-success" role="alert" th:if="${mensaje}" th:unless="${error}" th:text="${mensaje}"></div>
		<div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
		 <div th:object=${user}></div>
		<div class="row mb-3">
			<div class="col-4" th:if="${user.hasRole('ROL_ADMIN')}" >
				<h3>Datos de Rol</h3>
				<div class="form-group">

					<form th:action="@{/admin/rol/altaUsuarioRol}" th:if="${usuarioRolModel}" th:unless="${usuarioRolModelUpdate}" th:object="${usuarioRolModel}"
						method="post">
						<div class="form-group">
							<label>Rol </label> <input type="text"
								class="form-control form-control-sm" th:field="*{rol}">
		               	</div>
		               	<div class="form-group">
							<input type="hidden"
								class="form-control form-control-sm" th:field="*{enabled}">
						</div>
						<div class="form-group">
							<input type="submit" class="btn-success form-control form-control-sm"/>
						</div>

					</form>
					
					
					
					<form th:action="@{/admin/rol/modificacionUsuarioRol}"  th:if="${usuarioRolModelUpdate}" th:object="${usuarioRolModelUpdate}"
						method="post">
						<div class="form-group">
							 <input type="hidden"
								class="form-control form-control-sm" th:field="*{id}">
						
						</div>
						
						<div class="form-group">
							<label>Rol </label> <input type="text"
								class="form-control form-control-sm" th:field="*{rol}">
                        </div> 
                        <div class="form-group">
							<input type="hidden"
								class="form-control form-control-sm" th:field="*{enabled}">
						</div>
                          
						<div class="form-group">
							<input type="submit" class="btn-success form-control form-control-sm"/>
						</div>

					</form>
				</div>
		</div>
		<div class="col-8">
			<h3>Roles</h3>
			<!--tabla-->
			<div style="overflow-x: auto;">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Rol</th>
							<th scope="col">Activo</th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
							
						</tr>
					</thead>
					<tbody >
						<tr th:if="${lstRoles.empty}">
							<td colspan="2">Sin roles en el sistema</td>
							
						</tr>
						<tr th:each="rol: ${lstRoles}">
							<td><span th:text="${rol.rol}"></td>
							<td><span th:text="${rol.enabled}"></td>	
							<td><input type="hidden" th:value="${rol.id}"/></td>
							<td><a th:if="${user.hasRole('ROL_ADMIN')}" th:href="@{'/admin/rol/bajaUsuarioRol?id=' + ${rol.id}}" class="btn-danger btn-sm"><img  th:src="@{'/images/trash.svg'}" th:text="Eliminar"/></a></td>
							<td><a th:if="${user.hasRole('ROL_ADMIN')}" th:href="@{'/admin/rol/traerUsuarioRol?id=' + ${rol.id}}" class="btn-warning btn-sm"><img th:src="@{'/images/pencil-square.svg'}" th:text="Editar"/></a></td>
							
							
						</tr>
					</tbody>
					
				</table>
			
			</div>
  	<a th:if="${user.hasRole('ROL_AUDITOR')}" th:href="@{usuarioRol/export/pdf}"><img th:src="@{'/images/icons8-pdf-30.png'}" th:text="GenerarPDF"/></td></a>			
		</div>
		
	</div>
	
	</div>
	
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<footer id="footer">
			<div class="contenedor footer-content">
				<div class="contact-us">
					<h2 class="brand">Grupo 07-OO2-2021</h2>
					<p>Sofia Sánchez Antelo </p>
				</div>
				<div class="social-media">
					<a href="https://github.com/sanchezantelo/Grupo-7-OO2-2021"
						class="social-media-icon" target="_blank"> <i
						class='bx bxl-github'></i>
					</a>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>

