<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Website Grupo 07</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="/css/index_styles.css">
<style>
.fakeimg {
	height: 200px;
	background: grey;
}
</style>
</head>


<body>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<h1>Website Grupo 07-OO2</h1>
		<h2>Nuestro sitio está en proceso</h2>
		<h4>Bienvenidos!</h4>
	</div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Menú</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#personas">Personas</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#permisos">Permisos</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#rodados">Rodados</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#nosotros">Sobre
						Nosotros</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Cerrar
						Sesión <i class='bx bxs-log-out-circle'></i>
				</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">		
	
		<div class="alert alert-primary" role="alert" th:if="${mensaje}" th:text="${mensaje}"></div>
		<!-- <div class="alert alert-danger" role="alert" th:if="${mensajeError}" th:text="${mensajeError}"></div> -->
		<div class="row mb-3">
			<div class="col-4">
				<h3>Datos del Usuario</h3>
				<div class="form-group">

					<form th:action="@{/altaUsuario}" th:object="${usuarioModel}"
						method="post">
						<div class="form-group">
							<label>Usuario </label> <input type="text"
								class="form-control form-control-sm" th:field="*{usuario}">
						</div>

						<div class="form-group">
							<label>Clave</label> <input type="text"
								class="form-control form-control-sm" th:field="*{clave}">
						</div>


						<div class="form-group">
							<label>nombre</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.nombre}">
						</div>

						<div class="form-group">
							<label>apellido</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.apellido}">
						</div>

						<div class="form-group">
							<label>dni</label> <input type="number"
								class="form-control form-control-sm" th:field="*{persona.dni}">
						</div>

						<div class="form-group">
							<label>email</label> <input type="text"
								class="form-control form-control-sm" th:field="*{persona.email}">
						</div>

						<div class="form-group">
							<select class="form-control form-control-sm" th:field="*{rol.id}">
								<option th:value="1">ROL_ADMIN</option>
								<option th:value="2">ROL_AUDITOR</option>
							</select>
						</div>

						<div class="form-group">
							<label>Activo</label> <input type="checkbox"
								class="form-control form-control-sm" th:field="*{enabled}">
						</div>

						<div class="form-group">
							<input type="submit" class="form-control form-control-sm"/>
						</div>

					</form>
				</div>
		</div>
		<div class="col-8">
			<h3>Usuarios</h3>
			<!--tabla-->
			<div style="overflow-x: auto;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">dni</th>
							<th scope="col">Email</th>
							<th scope="col">Rol</th>
						</tr>
					</thead>
					<tbody >
						<tr th:if="${lstUsuarios.empty}">
							<td colspan="2">Sin usuarios en el sistema</td>
						</tr>
						<tr th:each="usuario: ${lstUsuarios}">
							<td><span th:text="${usuario.id}"></td>
							<td><span th:text="${usuario.persona.nombre}"></td>
							<td><span th:text="${usuario.persona.apellido}"></td>
							<td><span th:text="${usuario.persona.dni}"></td>
							<td><span th:text="${usuario.persona.email}"></td>
							<td><span th:text="${usuario.rol.id}"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	</div>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<footer id="footer">
			<div class="contenedor footer-content">
				<div class="contact-us">
					<h2 class="brand">Grupo 07-OO2</h2>
					<p>Nicolas Romero, Sofia Sanchez Antelo, Dario Casais y
						Patricia Palmieri</p>
				</div>
				<div class="social-media">
					<a href="https://github.com/sanchezantelo/Grupo-7-OO2-2021"
						class="social-media-icon" target="_blank"> <i
						class='bx bxl-github'></i>
					</a>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>

