<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login_styles.css">
  </head>
  <body>
  <div class=center>
    <h1>Login</h1>
    <p th:if="${error}" class="error"> Usuario y Clave incorrectos</p>
    <form th:action="@{/autenticar}" method="post" th:object="${usuarioModel}">
   
      <label for="username">Username or email address</label>
      <input class="controls" type="text"  name="username"  required  autofocus="autofocus" th:field="*{usuario}"/> <br/>  <br>

      
      <label for="password">Password</label>
      <input class="controls" type="password" required id="password" name="password" th:field="*{clave}"/> <br /><br><br> 
     
      <input type="submit" value="Enviar" />
      <div class="signup_link">
      Not a member? <a href="#">Signup</a>
      </div>
      
    </form>
    </div>
  </body>
</html>