<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
<title>Website Grupo 07</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css'
	rel='stylesheet'>
	 
<link rel="stylesheet" type="text/css" th:src="@{'/css/formularios.css}">
<style>
.fakeimg {
	height: 200px;
	background: grey;
}
</style>
</head>


<body>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<h1>Website Grupo 07-OO2-2021</h1>
	</div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{'/index'}">Inicio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<main role="main" class="container">		
	   	
		<div class="alert alert-primary" role="alert" th:if="${mensaje}" th:unless="${error}" th:text="${mensaje}"></div>
		<div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
        <div th:object=${permisoDiarioModel}></div>
		<div class="row mb-3 w3-example">
			<div class="col-4">
				<h3>Datos del Permiso</h3>
				<div class="form-group">

                	<div class="form-group">
							<input type="hidden"
								class="form-control form-control-sm" th:number="${page}">
						</div>
                
					<form th:action="@{/index/altaPermisoDiario}" th:if="${permisoDiarioModel}" th:object="${permisoDiarioModel}"
						method="post">
	
						<div class="form-group">
							<label>Nombre</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.nombre}"required>
						</div>

						<div class="form-group">
							<label>Apellido</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.apellido}"required>
						</div>

                      <div class="form-group">
                      <label>Tipo de Documento</label>	
							<select name="tipoDocumento" class="form-control form-control-sm" th:field="*{persona.tipoDocumento}">
    						<option th:each="tipoDocumento : ${T(com.webservice.app.entities.TipoDocumento).values()}" 
        					th:value="${tipoDocumento}" th:text="${tipoDocumento}"></option>
							</select>
						</div>

						<div class="form-group">
							<label>Numero de Documento</label> <input type="number"
								class="form-control form-control-sm" th:field="*{persona.dni}"required>
						</div>

						<div class="form-group">
							<label>Email</label> <input type="email"
								class="form-control form-control-sm" th:field="*{persona.email}"required>
						</div>
						
						<div class="form-group">
  						  <label>Fecha</label> <input class="form-control form-control-sm" type="date" id="start" min="1970-01-01" max="5555-12-31" placeholder="start time" th:field="*{fecha}" > 
  						  </div>
  						  
  						  <div class="form-group">				
						<label>Lugar Origen</label>	
							<select class="form-control form-control-sm" th:field="*{lugarOrigenModel.idLugar}">
							 <option th:each="l : ${lugares}" th:value="${l.idLugar}" th:text="${l.lugar+','+ l.codigoPostal}">
                              </option>
							</select>
					        
						</div>
						
						<div class="form-group">
							<label>Lugar Destino</label> 
							<select class="form-control form-control-sm" th:field="*{lugarDestinoModel.idLugar}">
							 <option th:each="lugar : ${lugares}" th:value="${lugar.idLugar}" th:text="${lugar.lugar+','+ lugar.codigoPostal} ">
                              </option>
							</select>
			
							</div>
					
					<div class="form-group">
							<label>Motivo</label> <input type="text"
								class="form-control form-control-sm" th:field="*{motivo}"required>
						</div>
						<div class="form-group">
							<input type="submit" class="btn-success form-control form-control-sm"/>
						</div>

					</form>
					
					
						<form th:action="@{/index/altaPermisoPeriodo}" th:if="${permisoPeriodoModel}" th:unless="${permisoDiarioModel}"  th:object="${permisoPeriodoModel}"
						method="post">
	
						<div class="form-group">
							<label>Nombre</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.nombre}"required>
						</div>

						<div class="form-group">
							<label>Apellido</label> <input type="text"
								class="form-control form-control-sm"
								th:field="*{persona.apellido}"required>
						</div>

                      <div class="form-group">
                      <label>Tipo de Documento</label>	
							<select name="tipoDocumento" class="form-control form-control-sm" th:field="*{persona.tipoDocumento}">
    						<option th:each="tipoDocumento : ${T(com.webservice.app.entities.TipoDocumento).values()}" 
        					th:value="${tipoDocumento}" th:text="${tipoDocumento}"></option>
							</select>
						</div>

						<div class="form-group">
							<label>Numero de Documento</label> <input type="number"
								class="form-control form-control-sm" th:field="*{persona.dni}"required>
						</div>

						<div class="form-group">
							<label>Email</label> <input type="email"
								class="form-control form-control-sm" th:field="*{persona.email}"required>
						</div>
						
						<div class="form-group">
  						  <label>Fecha</label> <input class="form-control form-control-sm" type="date" id="start" min="1970-01-01" max="5555-12-31" placeholder="start time" th:field="*{fecha}" > 
  						  </div>
  						  
  						   <div class="form-group">				
						<label>Lugar Origen</label>	
							<select class="form-control form-control-sm" th:field="*{lugarOrigenModel.idLugar}">
							 <option th:each="l : ${lugares}" th:value="${l.idLugar}" th:text="${l.lugar+','+ l.codigoPostal}">
                              </option>
							</select>
					        
						</div>
						
						<div class="form-group">
							<label>Lugar Destino</label> 
							<select class="form-control form-control-sm" th:field="*{lugarDestinoModel.idLugar}">
							 <option th:each="lugar : ${lugares}" th:value="${lugar.idLugar}" th:text="${lugar.lugar+','+ lugar.codigoPostal} ">
                              </option>
							</select>
			
							</div>
					
					<div class="form-group">
							<label>Cantidad de Dias</label> <input type="number"
								class="form-control form-control-sm" th:field="*{cantDias}"required>
						</div>
							<div class="form-group">
							<label>Vacaciones</label> <input type="checkbox"
								class="form-control form-control" th:field="*{vacaciones}">
						</div>
						
							<div class="form-group">
							<label>Dominio</label> <input type="text"
								class="form-control form-control-sm" th:field="*{rodado.dominio}"required>
						</div>
						
							<div class="form-group">
							<label>Vehiculo</label> <input type="text"
								class="form-control form-control-sm" th:field="*{rodado.vehiculo}"required>
						</div>
						
						
						<div class="form-group">
							<input type="submit" class="btn-success form-control form-control-sm"/>
						</div>

					</form>				
				</div>
				</div>
			<div class="col-8" th:if="${permisoPeriodoModel}">
			<h3>Buscar Permiso Periodo</h3>
			<form th:action="@{/index/traerPermisoPeriodo}" th:object="${personaModel}"
						method="post">
						
						<div class="form-group">
							<label>DNI</label> <input type="text"
								class="form-control form-control-sm" th:field="*{dni}"required>
						</div>
							<div class="form-group">
							<input type="submit" class="btn-primary form-control form-control-sm" value="Buscar"/>
						</div>
						
			</form>			
			<!--tabla-->
			<div style="overflow-x: auto;">
				<table class="table table-xl-12" th:if="${pperiodo}">
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">Tipo Documento</th>
							<th scope="col">Num Documento</th>
							<th scope="col">Email</th>
							<th scope="col">Fecha</th>
							<th scope="col">Desde</th>
							<th scope="col">Hasta</th>
							<th scope="col">Dias</th>
							<th scope="col">Vacaciones</th>
							<th scope="col">Dominio</th>
							<th scope="col">Vehiculo</th>
							
						</tr>
					</thead>
					<tbody >
						<tr th:if="${pperiodo}">
							<td colspan="2"></td>
						</tr>
						<tr>
							<td><span th:text="${pperiodo.persona.nombre}"></td>
							<td><span th:text="${pperiodo.persona.apellido}"></td>
							<td><span th:text="${pperiodo.persona.tipoDocumento}"></td>
							<td><span th:text="${pperiodo.persona.dni}"></td>
							<td><span th:text="${pperiodo.persona.email}"></td>				
							<td><span th:text="${pperiodo.fecha}"></td>	
							<td><span th:text="${pperiodo.desdeHasta[1].lugar()}"></td>	
							<td><span th:text="${pperiodo.desdeHasta[0].lugar()}"></td>	
							<td><span th:text="${pperiodo.cantDias}"></td>
							<td><span th:text="${pperiodo.vacaciones}"></td>
							<td><span th:text="${pperiodo.rodado.dominio}"></td>	
							<td><span th:text="${pperiodo.rodado.vehiculo}"></td>		
							
								
						</tr>
					</tbody>
				</table>
		 	 
	</div>	
	</div>
	
				<div class="col-8" th:if="${permisoDiarioModel}">
			<h3>Buscar Permiso Diario</h3>
			<form th:action="@{/index/traerPermisoDiario}" th:object="${personaModel}"
						method="post">
						
						<div class="form-group">
							<label>DNI</label> <input type="text"
								class="form-control form-control-sm" th:field="*{dni}"required>
						</div>
							<div class="form-group">
							<input type="submit" class="btn-primary form-control form-control-sm" value="Buscar"/>
						</div>
						
			</form>			
			<!--tabla-->
			<div style="overflow-x: auto;">
				<table class="table table-xl-12" th:if="${pdiario}">
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">Tipo Documento</th>
							<th scope="col">Num Documento</th>
							<th scope="col">Email</th>
							<th scope="col">Fecha</th>
							<th scope="col">Desde</th>
							<th scope="col">Hasta</th>
							<th scope="col">Motivo</th>							
						</tr>
					</thead>
					<tbody >
						<tr th:if="${pdiario}">
							<td colspan="2"></td>
						</tr>
						<tr>
							<td><span th:text="${pdiario.persona.nombre}"></td>
							<td><span th:text="${pdiario.persona.apellido}"></td>
							<td><span th:text="${pdiario.persona.tipoDocumento}"></td>
							<td><span th:text="${pdiario.persona.dni}"></td>
							<td><span th:text="${pdiario.persona.email}"></td>				
							<td><span th:text="${pdiario.fecha}"></td>	
							<td><span th:text="${pdiario.desdeHasta[1].lugar()}"></td>	
							<td><span th:text="${pdiario.desdeHasta[0].lugar()}"></td>	
							<td><span th:text="${pdiario.motivo}"></td>
															
						</tr>
					</tbody>
				</table>
		 	 
	</div>	
	</div>
				</div>
					
   	</main>
	
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<footer id="footer">
			<div class="contenedor footer-content">
				<div class="contact-us">
					<h2 class="brand">Grupo 07-OO2-2021</h2>
					<p>Sofia Sánchez Antelo </p>
				</div>
				<div class="social-media">
					<a href="https://github.com/sanchezantelo/Grupo-7-OO2-2021"
						class="social-media-icon" target="_blank"> <i
						class='bx bxl-github'></i>
					</a>
				</div>
			</div>
		</footer>
	</div>
	
</body> 

</html>  

