@charset "ISO-8859-1";

/*********************************
Footer 
*********************************/

.social-media-icon{
    color: #000000;
}


.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #232323;
    margin-bottom: 10px;
}
